body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.note-card.new {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    margin-top: 15px;
    margin-bottom: 15px;
}

textarea {
    border: none;
    resize: none;
    background-color: rgb(255, 255, 255);
    padding: 5px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

input {
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 5px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.save {
    background-color: rgb(90, 120, 202);
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}

.save:hover {
    background-color: rgb(90, 120, 202);
    cursor: pointer;
}

.note-card {
    background-color: rgb(230, 235, 188);
    color: #414141;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    padding: 1rem;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;;
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-icon {
    cursor: pointer;
}

.delete-icon:hover {
    color: rgb(190, 84, 84);
}

.text-body {
    margin-top: -120px;
    font-size: 12px;
}

/* loading animation */
.spin {
    animation: spin infinite 1s linear;
}

.loading {
    text-align: center;
    color: #414141;
    margin-top: 140px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.note-detail {
    margin-top: 20px;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.back-button {
    background-color: #cecece;
    color: #5d5d5d;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
}

.date {
    font-size: 12px;
}
